$white-bg: #fff;
$black-ft: #000;
 
$highlight-color: $base-color;
$highlight-color2: lighten($highlight-color, 20%);
$highlight-color3: darken($highlight-color, 20%);

$base-light-color: lighten($base-color, 15%);
 
$font-family: Cambria, helvetica , arial , verdana , sans-serif;
$font-size: 14px;

$badge-font-size: 12px;