@import '_config.scss';

$base-color: #3af;
$color: $black-ft;

$neutral-color: #F5F5F5;

$enable-font-smoothing: true;


$button-badge-font-size: $badge-font-size;
$button-badge-min-width: 1.5em;
$button-badge-border-radius: .7em;

$tab-badge-font-size:  $badge-font-size;
$tab-badge-min-width: 1.5em;
$tab-badge-border-radius: .7em;