//Column
$grid-column-background-color: lighten($base-color, 25%);
$grid-column-color: $black-ft;
$grid-column-line-height: 1.75em;

//Rows
$list-zebrastripe: true;
$list-item-border-color: $black-ft;