/*
*  Ext.form.Panel
*
*/


$panel-body-background-color: $white-bg;
$panel-header-font-weight: $font-weight-normal;
$panel-body-border-color: $black-ft;

$panel-border-color: dynamic($base-light-color);

$form-bg-color: $white-bg;
$form-spacing: 0.75em;
