<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.slabs.expense.tracker.database.mapper.Mapper">
	<select id="retrieveCategory" parameterType="map"
		resultType="com.slabs.expense.tracker.common.db.entity.ExpenseCategory">
			select * from EXPENSETRACKER.EXPENSE_CATEGORY
		<if test="parameters!= null">
			where category_id = #{parameters.category_id}
		</if>
	</select>
</mapper>