/*
 * This is is imported by virtue of "sass.var" in "app.json".
 */

$enable-font-awesome: dynamic(true);

$panel-navigation-background-color: #32404E;
$panel-navigation-item-line-height: 64px;
$panel-navigation-item-text-color: #ADB3B8;

$app-name-bg-color: #02C4F0;

$main-toolbar-height: 50px;
$nav-width: 200px;