/*
 * This is is imported by virtue of "sass.var" in "app.json".
 */

$enable-font-awesome: dynamic(true);
$panel-navigation-background-color: #32404e;
$panel-navigation-item-line-height: 64px;
$panel-navigation-item-text-color: #ADB3B8;

$navigation-menu-width: 250px;
$navigation-menu-collapsed-width: 60px;

$main-toolbar-height: 65px;

$base-border-color: #DDD;